/**************************/
/* MASSAGE SECTION */
/**************************/
.main {
  background-color: rgba(241, 232, 203, 0.6);
  font-size: 2rem;
}
.main_treatment {
  padding: 4.8rem;
  display: flex;
  flex: 1 1 0px;
  min-height: 100vh;
}

.massages {
  text-align: center;
  padding: 6.4rem 0;
}

.massages button {
  width: 30%;
  border: 2px solid #000000;
}
.massage_buttons {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.reflex_treatments {
  display: flex;
  justify-content: space-evenly;
}

.gap_main_treatment {
  gap: 2rem;
}

.massage_img {
  object-fit: cover;
  width: 30%;
}
.massage_buttons p {
  width: 80%;
}
.addons {
  padding: 2.4rem 0;
}
.addon_item {
  position: relative;
  overflow: hidden;
}
.hotstoneaddon::after,
.finaltouchaddon::after {
  content: "£15";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: rgba(241, 232, 203, 0.6);
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.aromatherapyaddon::after {
  content: "£10";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: rgba(241, 232, 203, 0.6);
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.facials {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 2.4rem;
}
