.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(241, 232, 203, 0.664);

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

/* Navigation section */

.navbar_logo {
  width: 10rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  letter-spacing: 0.1em;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #343a40;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #212529;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(0, 0, 0, 0.84);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
/**************************/
/* home SECTION */
/**************************/

/* Styling for the home section */
.home {
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-align: center;
  gap: 10rem;
}

/* Styling for the heading inside the home section */
.home h1 {
  font-weight: bold;
  text-shadow: 5px 5px #e2cd8e;
  font-size: 11rem;
}

.home p {
  font-size: 4.4rem;
}
.lead {
  font-size: 2rem !important;
  color: #e2cd8e;
}

.home img {
  width: auto;
}
.left_hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;
}

.btn {
  background-color: #000000;
  color: #e2cd8e;
  font-size: 2rem;
}

.btn-lm {
  background-color: #cfbd84;
  color: #000;
  font-size: 2rem;
}

.btn:hover {
  background-color: #e2cd8e;
}

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.booking {
  height: 100vh;
  text-align: center;
  margin: auto;
}

.calendly {
  height: 100%;
}

/**************************/
/* CONTACT SECTION */
/**************************/
.footer {
  border-top: 1px solid #000000;
  background: rgba(241, 232, 203, 0.664);
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer-col p {
  font-size: 1.5rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 2fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  margin-bottom: 1.6rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #a08c50;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #000000;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.contact {
  height: 100vh;
  font-size: 2rem;
  padding: 9.6rem;
}
.contact-details {
  width: 30%;
  margin: 20rem auto;
  text-align: center;
}
.social {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #000;
  border-radius: 2rem;
}
.social p {
  margin: 0;
}
.contacts {
  display: flex;
  flex-direction: column;
}

span {
  position: absolute;
  border-radius: 100vmax;
}

h2 span {
  position: static;
  font-size: 12rem;
}

p span {
  position: static;
  color: #83754c;
  font-size: 4rem;
}

.reflexology span {
  position: static;
  color: #83754c;
  font-size: 4rem;
}
