/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 / 110 / 122 / 146

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #212529
- Tints:
#000000
#495057
#868e96
#ced4da


- Accents:
- Greys

#CFD4D8 (Best Grey on #212529)
#868E96 (darkest grey allowed on #212529)
#ced4da (lightest grey allowed on #495057)

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 12px / 18px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
nav {
  z-index: 999;
}
body {
  font-family: "Abel", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #f3ecd4;
  background-image: url("media/img/hero_bgroud.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(241, 232, 203, 0.9);

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

hr.solid {
  border-top: 2px solid #000000;
  width: 10%;
}

.vertical_line {
  border-left: 3px solid rgb(0, 0, 0);
  margin: 0 2rem;
}

h1 {
  font-size: 8rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.5rem;
}

/***FADE IN ANIMATION***/
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/***CHANGING GRADIENT ANIMATION***/

.gradient-animation {
  background-color: #f3ec78;
  background-image: linear-gradient(-45deg, #252216, #ffe7a0);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: gradient 15s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
