/**************************/
/* MASSAGE SECTION */
/**************************/
.massages {
  height: 100vh;
  text-align: center;
  padding: 4.8rem 0;
  background-color: rgba(241, 232, 203, 0.6);
  font-size: 2rem;
}

.massages button {
  width: 30%;
  border: 2px solid #000000;
}
.massage_buttons {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.massage_img {
  object-fit: cover;
  width: 30%;
}

.massage_buttons p {
  width: 80%;
}
