/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .benefitsContainer {
    flex-direction: column-reverse;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .heading-secondary {
    font-size: 3.6rem !important;
  }

  .reflex_img {
    width: 30rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .aboutus h2 {
    font-size: 3rem;
  }

  .aboutus span {
    font-size: 5rem;
  }
  .grid {
    row-gap: 4.8rem;
  }

  .benefit_img {
    width: 30rem;
  }
  .d-flex {
    flex-direction: column;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
