/**************************/
/* MASSAGE SECTION */
/**************************/
.main {
  background-color: rgba(241, 232, 203, 0.6);
  font-size: 2rem;
}
.main_treatment {
  padding: 4.8rem;
  display: flex;
  flex: 1 1 0px;
  min-height: 100vh;
}

.massages {
  text-align: center;
  padding: 6.4rem 0;
}

.massages button {
  width: 30%;
  border: 2px solid #000000;
}
.massage_buttons {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.reflex_treatments {
  display: flex;
  justify-content: space-evenly;
}

.gap_main_treatment {
  gap: 2rem;
}

.massage_img {
  object-fit: cover;
  width: 30%;
}

.massage_buttons p {
  width: 80%;
}
.addons {
  padding: 2.4rem 0;
}
.facials {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 2.4rem;
}
