/* Navigation section */
.navbar {
  background-color: rgba(241, 232, 203, 0.664);
  font-size: 2rem;
  position: fixed;
  width: 100%;
}

.navbar_logo {
  width: 10rem;
}

/**************************/
/* home SECTION */
/**************************/

/* Styling for the home section */
.home {
  height: 100vh;
}
.home_container {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-align: center;
  gap: 10rem;
}

/* Styling for the heading inside the home section */
.home h1 {
  font-weight: bold;
  text-shadow: 5px 5px #e2cd8e;
  font-size: 11rem;
}

.home p {
  font-size: 4.4rem;
}
.lead {
  font-size: 2rem !important;
  color: #e2cd8e;
}

.home img {
  width: auto;
}
.left_hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;
}

.btn {
  background-color: #000000;
  color: #e2cd8e;
  font-size: 2rem;
}

.btn:hover {
  background-color: #e2cd8e;
}

/**************************/
/* REFLEXOLOGY SECTION */
/**************************/
.reflexology {
  height: 100vh;
  display: inline-grid;
  column-gap: 10rem;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: 0.5fr 1.5fr;
  padding-left: 10rem;
}
.reflexology p {
  font-size: 2rem;
}

/**************************/
/* ABOUT US SECTION */
/**************************/

.aboutus {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 40rem;
}

.aboutus h2 {
  font-size: 5rem;
}

.aboutus p {
  font-size: 3rem;
}
.aboutusText {
  width: 70%;
}

/**************************/
/* BENEFITS SECTION */
/**************************/
.benefits {
  height: 100vh;
  padding: 0 10rem;
}
.benefits h2 {
  text-align: center;
  margin-bottom: 10rem;
}
.benefits li {
  font-size: 2rem;
  margin: 1rem;
}

.benefitsContainer {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
.benefitsContainer p {
  font-size: 1.5rem;
}

.benefit_img {
  width: 60rem;
}

/**************************/
/* CONTACT SECTION */
/**************************/

.contact {
  height: 100vh;
  font-size: 2rem;
}
.contact-details {
  padding: 0 20rem;
  align-self: center;
}
.social {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #000;
  border-radius: 2rem;
}
.social p {
  margin: 0;
}
.contacts {
  display: flex;
  flex-direction: column;
}
