/* Navigation section */
.navbar {
  background-color: rgba(241, 232, 203, 0.664);
  font-size: 2rem;
  position: fixed;
  width: 100%;
}

.navbar_logo {
  width: 10rem;
}

/**************************/
/* home SECTION */
/**************************/

/* Styling for the home section */
.home {
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-align: center;
  gap: 10rem;
}

/* Styling for the heading inside the home section */
.home h1 {
  font-weight: bold;
  text-shadow: 5px 5px #e2cd8e;
  font-size: 11rem;
}

.home p {
  font-size: 4.4rem;
}
.lead {
  font-size: 2rem !important;
  color: #e2cd8e;
}

.home img {
  width: auto;
}
.left_hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;
}

.btn {
  background-color: #000000;
  color: #e2cd8e;
  font-size: 2rem;
}

.btn-lm {
  background-color: #e2cd8e;
  color: #000;
  font-size: 2rem;
}

.btn:hover {
  background-color: #e2cd8e;
}

/**************************/
/* REFLEXOLOGY SECTION */
/**************************/
.reflexology {
  min-height: 100vh;
  padding-left: 10rem;
}
.reflexology p {
  font-size: 2rem;
}
.reflexology {
  text-align: center;
  padding: 40px;
}

.reflexology-text {
  max-width: 120rem;
  margin: 0 auto;
}

.reflexology p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.reflexology-text h2 {
  margin-bottom: 10px;
  opacity: 0; /* Initially hide the heading */
}

.reflexology-text hr.solid {
  border-top: 2px solid #333;
  margin-bottom: 30px;
}

.reflex_img {
  max-width: 40rem;
  margin-top: 20px;
}

.animate-scale-in {
  animation: scaleIn 1s ease-in-out forwards; /* Apply the animation */
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/**************************/
/* ABOUT US SECTION */
/**************************/

.aboutus {
  min-height: 100vh;
  padding: 10rem 10rem;
}
.aboutus_container {
  position: relative;
  background: transparent;
  overflow: hidden;
  border-top: 4px solid #e2cd8e73;
  border-right: 4px solid #cbba8081;
  border-bottom: 4px solid #e2cd8e8c;
  border-left: 4px solid #e5d29980;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
  padding: 5rem;
}

span {
  position: absolute;
  border-radius: 100vmax;
}

h2 span {
  position: static;
  font-size: 12rem;
}

p span {
  position: static;
  color: #83754c;
  font-size: 4rem;
}

.span_bad {
  color: red !important;
}
.reflexology span {
  position: static;
  color: #83754c;
  font-size: 4rem;
}

.top {
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: linear-gradient(90deg, transparent 50%, #e2cd8e73, #e2cd8e);
}

.bottom {
  right: 0;
  bottom: 0;
  height: 5px;
  background: linear-gradient(90deg, #e2cd8e, #e2cd8e73, transparent 50%);
}

.right {
  top: 0;
  right: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(180deg, transparent 30%, #cbba8081, #cbba80);
}

.left {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 0;
  background: linear-gradient(180deg, #e5d299, #e5d29980, transparent 70%);
}

.top {
  animation: animateTop 3s ease-in-out infinite;
}

.bottom {
  animation: animateBottom 3s ease-in-out infinite;
}

.right {
  animation: animateRight 3s ease-in-out infinite;
}

.left {
  animation: animateLeft 3s ease-in-out infinite;
}

@keyframes animateTop {
  25% {
    width: 100%;
    opacity: 1;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes animateBottom {
  0%,
  50% {
    opacity: 0;
    width: 0;
  }

  75% {
    opacity: 1;
    width: 100%;
  }

  76%,
  100% {
    opacity: 0;
  }
}

@keyframes animateRight {
  0%,
  25% {
    opacity: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    height: 100%;
  }

  55%,
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes animateLeft {
  0%,
  75% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

.aboutus h2 {
  font-size: 5rem;
}

.aboutus p {
  font-size: 3rem;
}

/**************************/
/* FACEOFBRAND SECTION */
/**************************/

.faceofbrand {
  min-height: 100vh;
}
.faceofbrand_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;
  padding: 5rem;
  font-size: 3rem;
}

/**************************/
/* BENEFITS SECTION */
/**************************/
.benefits {
  min-height: 100vh;
  padding: 0 10rem;
}
.benefits h2 {
  text-align: center;
  margin-bottom: 10rem;
}
.benefits li {
  font-size: 2rem;
  margin: 1rem;
}

.benefitsContainer {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}
.benefitsContainer p {
  font-size: 1.5rem;
}
.benefitsContainer li {
  margin: 3rem;
  font-size: 3rem;
}
.benefitsContainer ol {
  list-style-image: url("media/img/massage1.png");
  font-size: 6rem;
}

.benefit_img {
  width: 40rem;
  border-radius: 10%;
}

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.booking {
  height: 100vh;
  text-align: center;
  margin: auto;
}

.calendly {
  height: 100%;
}
/**************************/
/* CONTACT SECTION */
/**************************/

.contact {
  min-height: 100vh;
  font-size: 2rem;
}
.contact-details {
  padding: 0 20rem;
  align-self: center;
}
.social {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #000;
  border-radius: 2rem;
}
.social p {
  margin: 0;
}
.contacts {
  display: flex;
  flex-direction: column;
}
