/* Navigation section */
.navbar {
  background-color: rgba(241, 232, 203, 0.664);
  font-size: 2rem;
  position: fixed;
  width: 100%;
}

.navbar_logo {
  width: 10rem;
}

/**************************/
/* home SECTION */
/**************************/

/* Styling for the home section */
.home {
  height: 100vh;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  text-align: center;
  gap: 10rem;
}

/* Styling for the heading inside the home section */
.home h1 {
  font-weight: bold;
  text-shadow: 5px 5px #e2cd8e;
  font-size: 11rem;
}

.home p {
  font-size: 4.4rem;
}
.lead {
  font-size: 2rem !important;
  color: #e2cd8e;
}

.home img {
  width: auto;
}
.left_hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;
}

.btn {
  background-color: #000000;
  color: #e2cd8e;
  font-size: 2rem;
}

.btn-lm {
  background-color: #e2cd8e;
  color: #000;
  font-size: 2rem;
}

.btn:hover {
  background-color: #e2cd8e;
}

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.booking {
  height: 100vh;
  text-align: center;
  margin: auto;
}

.calendly {
  height: 100%;
}

/**************************/
/* CONTACT SECTION */
/**************************/

.contact {
  height: 100vh;
  font-size: 2rem;
}
.contact-details {
  padding: 0 20rem;
  align-self: center;
}
.social {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #000;
  border-radius: 2rem;
}
.social p {
  margin: 0;
}
.contacts {
  display: flex;
  flex-direction: column;
}

span {
  position: absolute;
  border-radius: 100vmax;
}

h2 span {
  position: static;
  font-size: 12rem;
}

p span {
  position: static;
  color: #83754c;
  font-size: 4rem;
}

.reflexology span {
  position: static;
  color: #83754c;
  font-size: 4rem;
}

